.parent {
    display: grid;   
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 600px;
    height: 600px;      
    margin: 150px auto;   
} 
    
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 3; }
    .div3 { grid-area: 1 / 3 / 2 / 4; }
    .div4 { grid-area: 2 / 1 / 3 / 2; }
    .div5 { grid-area: 2 / 2 / 3 / 3; }
    .div6 { grid-area: 2 / 3 / 3 / 4; }
    .div7 { grid-area: 3 / 1 / 4 / 2; }
    .div8 { grid-area: 3 / 2 / 4 / 3; }
    .div9 { grid-area: 3 / 3 / 4 / 4; }

.paretn div{
    border: 1px solid black;
} 

.jugadores {
    display: flex;
    justify-content: space-around;    
    margin-top: 80px;
}

label{
    font-family: system-ui;
    font-size: 4em;
}

button{
    width: 200px;
    height: 200px; 
    font-size: 4em; 
}

.parent button.seleccionado {   
    background-color: #2d2324; 
    color: #ffffff;  
    font-size: 4em;      
}

.ganador {
    color: green;
}

.perdedor {
    color: red;
}

.empate {
    color: orange;
}

